html {
  box-sizing: border-box;
}

*,
::after,
::before {
  box-sizing: inherit;
}

:root {
  --dark-grayish-blue: hsl(240, 6%, 50%);
  --light-grayish-blue: hsl(240, 5%, 91%);
  --soft-blue: hsl(240, 73%, 65%);
  --soft-red: hsl(14, 88%, 65%);
  --soft-violet: hsl(273, 75%, 66%);
  --very-dark-desaturated-blue: hsl(238, 29%, 16%);
  --very-dark-grayish-blue: hsl(237, 12%, 33%);
  --white: hsl(0, 0%, 100%);
}

body {
  height: 100%;
  margin: 0;
  background-image: linear-gradient(var(--soft-blue), var(--soft-violet));
  font-family: "Kumbh Sans", sans-serif;
  font-size: 1.25rem;
}

img {
  display: block;
  width: 100%;
}

.container {
  margin: 0 auto;
  display: flex;
  justify-content: center;
}

.faq {
  border-radius: 20px;
  padding: 0 2rem 2rem;
  max-width: 600px;
  background-color: var(--white);
  position: relative;
  margin: 10rem 1rem 2rem;
}

.faq__bg-art {
  transform: translateY(-60%);
}

.faq__art-container {
  width: 70%;
  margin: 0 auto;
  position: relative;
}

.faq__art-bg {
  position: absolute;
  transform: translateY(-80%);
}

.faq__header {
  margin-top: -3rem;
}

.faq__title {
  text-align: center;
  font-size: 250%;
  margin-top: 0;
}

.faq__questions {
  list-style-type: none;
  padding: 0;
  font-size: 70%;
}

.faq__question-block {
  cursor: pointer;
}

.faq__question-block > article {
  display: flex;
  align-items: baseline;
  justify-content: space-between;
  gap: 0.5rem;
}

.faq__question {
  font-weight: 400;
}

.faq__answer {
  max-height: 0;
  overflow: hidden;
}

.faq__toggle-icon {
  flex: 0 0 5%;
  transition: transform 0.5s;
}

.faq__question-block--active .faq__question {
  font-weight: 700;
}

.faq__question-block--active .faq__answer {
  max-height: 100%;
  overflow: auto;
}

.faq__question-block--active .faq__toggle-icon {
  transform: rotate(180deg);
}

@media (min-width: 1080px) {
  body {
    font-size: 1rem;
  }

  .faq {
    max-width: 1440px;
    min-width: 1000px;
    display: flex;
    justify-content: center;
    gap: 2rem;
    padding: 2rem;
    margin: 2rem 1rem;
  }

  .faq__header {
    margin-top: 0;
  }

  .faq__bg-art {
    transform: translateY(0%);
    flex: 0 0 50%;
    display: flex;
    align-items: center;
  }

  .faq__art-container {
    width: 100%;
    margin: 0;
    position: relative;
    transform: translateX(-25%);
  }

  .faq__art-bg {
    position: absolute;
    transform: translateY(-80%);
  }

  .faq__content {
    flex: 0 0 50%;
    padding: inherit;
    padding-left: 0;
    max-width: 500px;
  }

  .faq__title {
    text-align: left;
  }

  .faq__toggle-icon {
    max-width: 0.75rem;
  }
}
